<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        JH Total Child Academy
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <link href="https://unpkg.com/aos@2.3.4/dist/aos.css" rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'core/images/logo.png' %}" type="image/x-icon">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/themes/material_blue.css">


</head>
<body class="{% block body_class %}{% endblock %}">
    <nav class="navbar">
        <div class="logo-container">
            <img class="logo" src="{% static 'core/images/logo.png' %}" alt="School Logo" class="logo">
        </div>
        
        <div class="menu-toggle" id="mobile-menu">
            <div class="bar1"></div>
            <div class="bar2"></div>
            <div class="bar3"></div>
        </div>
            <ul class="nav-links" id="nav-links">
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'events' %}">Events/News</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
                <li><a href="{% url 'apply_now' %}">Apply now</a></li>
                <li><a href="{% url 'contact' %}">Contact us</a></li>
                <li><a href="{% url 'about' %}">About us </a></li>
            </ul>
    </nav>

    

    <div>
        {% block content %}
        {% endblock %}
    </div>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script src="{% static 'core/js/animations.js' %}"></script>
<script src="https://unpkg.com/aos@2.3.4/dist/aos.js"></script>
<script>
    AOS.init();
</script>



</body>
</html>