{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>Student Dashboard</title>
  <link rel="stylesheet" href="{% static 'core/css/style.css' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
  <script src="https://js.paystack.co/v1/inline.js"></script>
</head>
<body class="student-dashboard-body">
    <nav class="student-navbar">
        <div class="student-navbar-container">
            <div class="student-logo-container">
                <a href="{% url 'student_dashboard' %}" class="student-logo">
                  <img src="{% static 'core/images/logo.png' %}" alt="School Logo" class="student-logo-img">
                </a>
            </div>
           <div class="student-profile-container">
  <div class="student-user-profile">
    <a href="{% url 'student_profile' %}" class="student-profile-icon">
      {% with request.user.studentprofile as profile %}
        {% if profile.profile_picture %}
          <img src="{{ profile.profile_picture.url }}" alt="Profile Picture" />
        {% else %}
          <img src="{% static 'core/images/default-user.jpg' %}" alt="Default Profile" />
        {% endif %}
      {% endwith %}
    </a>
  </div>
</div>

              
          
          
        </div>
    </nav>

    <div class="student-dashboard-container">
      <aside class="student-sidebar">
        <ul class="student-menu">
          <li class="student-active"><a href="{% url 'student_dashboard' %}"><i class="fas fa-home"></i> Dashboard</a></li>
          <li><a href="{% url 'student_profile' %}"><i class="fas fa-user"></i> Student Profile</a></li>
          <li><a href="{% url 'student_assignments' %}"><i class="fas fa-tasks"></i> Assignments</a></li>
          <li><a href="{% url 'student_notes' %}"><i class="fas fa-book"></i> Notes</a></li>
          <li><a href="{% url 'view_result' %}"><i class="fas fa-chart-line"></i> Results</a></li>
          <li><a href="{% url 'pay_fees' %}"><i class="fas fa-money-bill-wave"></i> Pay Fees</a></li>
          
          <li><a href="{% url 'my_courses' %}"><i class="fas fa-book-open"></i> My Courses</a></li>
          
         
        <li>
          <form action="{% url 'logout' %}" method="post" class="sidebar-logout-form">
            {% csrf_token %}
            <button type="submit" class="sidebar-logout-button">
              <i class="fas fa-sign-out-alt"></i> Logout
            </button>
          </form>
        </li>


        </ul>
      </aside>

      <main class="student-main-content">
        {% block content %}
        {% endblock %}
      </main>
    </div>

    <script src="{% static 'core/js/student_animations.js' %}"></script>
</body>
</html>