{% extends 'core/base.html' %}

{% block title %}
Home | JH Total Child Academy
{% endblock %}

{% block content %}
<section class="hero" data-aos="zoom-in" data-aos-duration="1000">
    <h1>Welcome to JH Total Child Academy</h1>
    <p>Building Total Children For Tomorrow's World</p>
</section>

<section class="container">
    <div class="first-div block" data-aos="fade-right" data-aos-duration="1000">
        <i class="fa-solid fa-bullseye"></i>
        <h1>MISSION</h1>
        <P>
            "Our mission is to provide a nurturing and holistic educational environment that fosters the development of children's moral, 
            physical, intellectual, social, 
            and emotional well-being. 
            We aim to instill a strong sense of responsibility, critical thinking, and compassion, empowering them to become confident, capable, and caring individuals who make a positive impact in the world."
        </P>
    </div>
    <div class="second-div block" data-aos="fade-left" data-aos-duration="1000">
        <i class="fa-solid fa-eye"></i>
        <h1>VISION</h1>
        <p>
            Our vision is to groom children to be sound morally, physically, intellectually, socially and emotionally.
            To sow a seed of high level of responsibility as they grow to become adult.
        </p>
    </div>
</section>
<div class="btn-container" >
    <div class="arrow-down">
        <i class="fa-solid fa-arrow-down arrow bounce"></i>
        <i class="fa-solid fa-arrow-down arrow bounce delay-1"></i>
        <i class="fa-solid fa-arrow-down arrow bounce delay-2"></i> 
    </div>
    <button class="apply-btn">APPLY NOW</button>
</div>

{% endblock %}