<!-- {% extends "core/dashboard.html" %}
{% block title %}Submit Assignment{% endblock %}
{% block content %}

<h2>Submit Your Work</h2>

<p>You are submitting for:</p>
<p><strong>{{ assignment.title }}</strong></p>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Upload your assignment file:</label><br>
    <input type="file" name="file" required><br><br>
    <button type="submit" class="btn">Submit</button>
</form>
{% for assignment in assignments %}
    {% if assignment.id %}
        <a href="{% url 'view_submissions' assignment.id %}">View Submission</a>
    {% else %}
        <p>This assignment is not valid.</p>
    {% endif %}
{% endfor %}

<br>
<a href="{% url 'assignment_detail_student' assignment.id %}" class="btn">Cancel</a>


{% endblock %} -->